pycryptodome==3.10.1
torch==1.9.0
torchvision==0.10.0
python-libtorrent-bin==2.0.2
python-snappy==0.6.0
brotli==1.0.9
dnspython==2.1.0
PyBluez==0.23
zeroconf==0.31.0
faker==8.1.4
python-lightblue==1.0.3
pygad==2.14.1
gym==0.18.3
nni==2.3
torchinfo==0.1.5
tensorflow==2.5.0
stable-baselines3==1.0
